@model FoodCourt.Employee

@{
    ViewBag.Title = "ForgetPassword";
}

<h2>ForgetPassword</h2>

@using (Html.BeginForm("ForgetPassword", "FoodCourt", FormMethod.Post))
{
    @Html.Label("User Name")
    <br />
    @Html.TextBoxFor(Model => Model.UserName)
    <br />
    <br />
    @Html.Label("Hint")
    <br />
    @Html.TextBoxFor(Model => Model.Hint)
    <br />
    <br />
    <input type="submit" value="Get Password" />

    <h4> @TempData["Password"]</h4>
}

