
@{
    ViewBag.Title = "WelcomeAdmin";
}

<h3>WelcomeAdmin</h3>

@Html.ActionLink("Add Item Types", "AddItemTypes", "FoodCourt")
<br />
<br />
@Html.ActionLink("Add Item Name", "AddItemName", "FoodCourt")
<br />
<br />
@Html.ActionLink("Update Stock", "UpdateStock", "FoodCourt")
<br />
<br />
@Html.ActionLink("View Sales", "ViewSales", "FoodCourt")
<br />
<br />
@Html.ActionLink("Add Employee", "AddEmployees","FoodCourt")


